* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 512px;
  margin: 0 auto;
}

.header_box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  > .header_text{
    padding: 1rem;
  }
}


.card_container{
  /* display: flex; */

  .row{
    height: 500px;
  }

  .col{
    min-width: 100px;
  }
}

.debug {
  border: 1px dashed red;
}