@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tools */
.border_accent {
  background-color: rgba(128, 128, 128, 0.288);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.light_text {
  color: gray;
}

.big_text {
  font-size: 3rem;
}


/* body */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.header_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  >.header_text {
    flex-grow: 0;
    padding: 0.5rem;
  }

  >.heater_btn {
    display: inline;
    flex-grow: 1;
    text-align: end;

    >button {
      background-color: transparent;
      border: none;
      text-decoration: none;
      font-size: 1rem;
      color: gray;

      >i {
        /* font-size: 1rem; */
      }

    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  height: 90dvh;
  margin-top: 3rem;
}

.col {
  flex-grow: 1;
  flex-basis: calc(100% / 3 - (15px * 2) / 3);
  min-width: 250px;
}

.card {
  position: relative;
  border-radius: 2rem;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);

  .price_card {
    text-align: center;
    margin-bottom: 1rem;

    .top_price_card {
      margin-bottom: 1.5rem;
    }

    .bottom_price_card {
      margin-bottom: 2rem;
    }
  }

  .btn_card {
    width: 100%;
    text-align: center;

    .btn_accent {
      background-color: white;
      color: blueviolet;
    }

    >button {
      justify-self: center;
      text-align: center;
      display: block;
      width: 100%;
      border-radius: 0.5rem;
      background-color: blueviolet;
      padding: 1rem;
    }
  }



  .list_card {
    margin: 1rem 0;
    justify-self: left;
    font-size: 1.1rem;

    >ul {
      list-style: none;
      line-height: 2em;
    }
  }
}

.accent_card {
  background-color: blueviolet;
  color: white;
}

.debug * {
  border: 1px dashed red;
}